/*color pallette
dark> light
#1D2323
#5C848E
#DECDC3
#E0E0EC EOEOEC
*/


/*CSS RESET RIGHT HERE*/
tml, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
font-size: 62.5%;  
font: inherit;  
vertical-align: baseline;  
box-sizing:border-box ;
max-width: 100%; 
/* border: 1px solid grey; */
font-family: 'Roboto Slab', serif;  
}

#homepage{
    background-image: url("https://images.unsplash.com/photo-1591601392196-dd6afe757012?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

#landing-image{

    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;  
    padding:20px;
}

main#indexHomePage{
    width:auto;
    height:88vh;
}

#landing-image h1{
    font-size: 6rem;     
    color: whitesmoke;
    display:flex;
    width:70%;
    align-items: center;
    justify-content: space-evenly;
}

#landing-image h1 a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 100;
}

.unhide:hover{
    font-size:0;
}

h1 #login:hover:after{
    content: 'Log In';
    font-size:6.5rem;
    text-shadow:5px 5px 10px dodgerblue ;
    color: navajowhite;
    font-weight: 900;
}

h1 #aboutUs:hover:after{
    content: 'About Us';
    font-size: 5.5rem;
    text-shadow:5px 5px 10px dodgerblue ;
    color: navajowhite;
    font-weight: 900;
      
}

h1 #recipeLink:hover{
    font-size:6.5rem;
    text-shadow:5px 5px 10px dodgerblue;
    color: navajowhite;
    font-weight: 900;
}

/* FOOTER STYLING*/
.footerContainer{
    display:flex;
    justify-content: flex-end;
    align-items: center;  
    
}

/*SOCIAL MEDIA STYLING */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: none;
    color: white;
  }
  
  .fa-twitter {
    background: none;
    color: white;
  }
  
  .fa-google {
    background: none;
    color: white;
  }
  
  .fa-linkedin {
    background: none;
    color: white;
  }
  .fa-android {
    background:none;
    color: white;
  }
  .fa-instagram {
    background: none;
    color: white;
  }
  